<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79279269876-ar2k4oe4q0scmveppttuvvb00dkepe9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79279269876-ar2k4oe4q0scmveppttuvvb00dkepe9s</string>
	<key>API_KEY</key>
	<string>AIzaSyDhJCfM9ILJ6eDobZiNAAuCiODyEWGUFog</string>
	<key>GCM_SENDER_ID</key>
	<string>79279269876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eliasdolinsek.cashBox</string>
	<key>PROJECT_ID</key>
	<string>cash-box-797d2</string>
	<key>STORAGE_BUCKET</key>
	<string>cash-box-797d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79279269876:ios:b74a31b79a859a7b083ba1</string>
	<key>DATABASE_URL</key>
	<string>https://cash-box-797d2.firebaseio.com</string>
</dict>
</plist>